version: '2'

networks:
  default:
    external:
      name: dockers

services:
  hbase:
    container_name:  hbase
    ports:
     - "9095:9095"
     - "8095:8095"
     - "16010:16010"
    volumes:
     - ./data:/opt/data
    image: "dajobe/hbase"
