version: '2'
services:
  portainer:
    restart: always
    container_name: portainer
    ports:
     - "9000:9000"
    volumes:
     - ./data:/data
     - /var/run/docker.sock:/var/run/docker.sock
    image: "portainer/portainer"
